/* Header configuration */

header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  height: 60px;
  width: 100%;
  padding: 0.3rem 1rem;
  transition: all ease 450ms;
  background-color: var(--white);
}

#logo-header {
  text-decoration: none;
  color: var(--pure-black);

  display: flex;
  align-items: center;
}

#logo-header:link, #logo-header:active, #logo-header:visited, #logo-header:hover{
  text-decoration: none;
}

#logo-header img {
  max-width: 39px;
}

header h1 {
  font-family: 'Pacifico', cursive;
  text-decoration: none;
  font-size: 1.2em;
  margin: 0 8px;
}

/* Navbar configuration */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.burger { display: none; }

.burger:hover { cursor: pointer; }

.burger:active {
  -moz-transform: scale(.9);
  -webkit-transform: scale(.9);
  -o-transform: scale(.9);
  -ms-transform: scale(.9);
  transform: scale(.9);
}

#menu-items {
  -moz-transition: all ease 500ms;
  -webkit-transition: all ease 500ms;
  -o-transition: all ease 500ms;
  -ms-transition: all ease 500ms;
  transition: all ease 500ms;
  transition: all ease 500ms;
  background-color: var(--white);
}

#menu-items, .menu {
  display: flex;
  gap: 16px;
}

.menu-left {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.menu-left a:hover {
  background-color: var(--botticelli);
  border: solid var(--bahama-blue) 0.1em;
}

.menu-right { 
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: content-box;
  padding: 5px 12px;
}

nav a:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

nav a:active {
  -moz-transform: scale(.9);
  -webkit-transform: scale(.9);
  -o-transform: scale(.9);
  -ms-transform: scale(.9);
  transform: scale(.9);
}

#login-button {
  border: solid var(--bahama-blue) 0.2em;
}

#login-button:hover {
  background-color: var(--bahama-blue);
  border: solid var(--bahama-blue) 0.2em;
  color: var(--white);
}

#register-button {
  background-color: var(--bahama-blue);
  border: solid var(--bahama-blue) 0.2em;
  color: var(--white);
}

#register-button:hover {
  background-color: var(--bahama-blue);
}

nav.open #menu-items {
  display: flex;
  opacity: 1;
  visibility: visible;
}


/* Content configuration*/
#first-section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0 6vw;
  height: 100vh;

  background-color: var(--dark-blue);
}

#first-section p {
  padding: 1.5rem 0.4rem;
}

#overview-button {
  padding: 0.7em 0.8em;
  text-align: center;
  background-color: var(--white);
  text-decoration: none;
  font-weight: 530;
}

#overview-button:hover {
  background-color: var(--darker-blue);
  color: var(--white);
}

/* Footer configuration */

footer {
  width: 100%;
  font-size: 0.85rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

footer > div {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  padding: 0.6em 0;
  margin: 0 1.8em;
}

footer > div > div{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  flex-direction: column;
}

footer strong {
  margin: 0.2em 0;
}

footer a {
  display: inline;
  text-decoration: none;
  color: var(--black);
}

footer a:hover {
  text-decoration: underline;
}

/*
 * Mobile Configuration
 * Until 480px
 * Small mobile: 320px
 * Medium mobile: 375px
 * Large mobile: 425px
 */

@media screen and (width <= 767px) {
  header {
    padding: 0.3rem 1rem;
  }
  #menu-items {
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    padding: 0.8rem 0;
  }
  .burger { display: inline-block; }
}

/*
 * Tablet Configuration
 * 480px - 768px
 * 768px - 1024px
 */
@media screen and (min-width: 480px) { }

@media screen and (min-width: 768px) {
  .button {
    font-size: 0.8rem;
  }
  
  .header-link {
    font-size: 0.8rem;
  }

  /* Header configuration */

  #logo-header img {
    max-width: 40px;
  }

  #menu-items {
    opacity: 1;
    visibility: visible;
  }

  /* Content configuration*/

  /* Footer configuration */

  footer {
    font-size: 0.8rem;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin: 1em 0;
  }

  footer > div {
    margin: 0 0.3em;
  }

  footer > div > div {
    flex-direction: row;
  }

  footer strong {
    padding: 0 0.5em;
  }
}

/*
 * Laptop Configuration
 * 1024px - 1280px
 * 1280px - 1440px
 */

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1280px) {
}
