/* General settings */
:root {
  --white: #FBFBFB;
  --lighter-green: #6BBD99;
  --light-blue: #75E2FF;
  --dark-blue: #5689C0;
  --darker-blue: #424369;
  --marine-green: #244F62;
  --yellow: #FCC037;
  --baby-blue: #A7C5EB;
  --black: #272626;
}
* {
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  color: black;
}

.button {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--black);
  box-sizing: border-box;
  height: 100%;
  text-decoration: none;
  border-radius: 0.45rem;
  padding: 0.3em 0.6em;
}

.button:hover {
  transition: ease 0.3s;
  background-color: var(--light-blue);
}