/* General settings */
:root {
  --white: #FBFBFB;
  --lighter-green: #6BBD99;
  --light-blue: #75E2FF;
  --dark-blue: #5689C0;
  --darker-blue: #424369;
  --marine-green: #244F62;
  --yellow: #FCC037;
  --baby-blue: #A7C5EB;
  --black: #272626;
  --pure-black: black;
  /* ui.ux.palette */
  --botticelli: #CEE1E8;
  --cerulean: #0D9FBE;
  --monte-carlo: #7EC5D4;
  --christine: #E75A0D;
  --bahama-blue: #005794;
}
* {
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  color: black;
}

body {
  background-color: var(--white);
}

.button {
  font-size: 1rem;
  font-weight: 500;
  color: var(--black);
  box-sizing: border-box;
  text-decoration: none;
  border-radius: 0.45rem;
}

.button:hover {
  transition: ease 0.3s;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*
 * Mobile Configuration
 * Until 480px
 * Small mobile: 320px
 * Medium mobile: 375px
 * Large mobile: 425px
 */


/*
 * Tablet Configuration
 * 480px - 768px
 * 768px - 1024px
 */

  /* .button 44px */
@media only screen and (min-width: 480px) {
}
@media only screen and (min-width: 768px) {
}
  
/*
 * Laptop Configuration
 * 1024px - 1280px
 * 1280px - 1440px
 */
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1280px) {
}
