/* General settings */
* {
    padding: 0;
    margin: 0;
    background-color: #F9F9F9;
}

/* Header section */

#header {
    background-color: #F9F9F9;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 10px;
}

.header-button {
    background-color: #A7C5EB;
    color: #000000;
    text-decoration: none;
    font-size: 25px;
    padding: 6px 10px;
    margin: 0px 10px 0px 0px;
    border-radius: 7px;
}

/* Title and forms section */

#main {
    /* border: solid blue 0.1rem; */
    background-color: #F9F9F9;

    display: flex;
    align-items: center;
    width: 100%;
}

#main-title-container {
    /* border: solid red 0.1rem; */
    width: 600px;
    height: 500px;
    background: url(../img/title.svg) no-repeat center;
    background-size: 400px 400px;
}

#main-forms {
    /* border: solid pink 0.1rem; */
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9F9F9;
}

#main-forms>section {
    border: solid green 0.1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

#footer {
    background-color: #A7C5EB;
    position: absolute;
    bottom: 0;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#footer-languages-container {
    background-color: #A7C5EB;
}
.footer-language {
    background-color: #A7C5EB;
    text-decoration: none;
    color: #000000;
}

#footer-commons {
    background-color: #A7C5EB;
    color: #000000;
}

