/* General settings */
* {
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  ;
}

/* Header section */

header {
  /*background-color: #F9F9F9;*/
  height: 8vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3vh 0;
}

#logo-header img {
  max-width: 70px;
  margin: 10px;
}

#logo-header {
  text-decoration: none;
  color: #000000;

  display: flex;
  align-items: center;
  margin: 0 1vw;
}

#logo-header:link, #logo-header:active, #logo-header:visited, #logo-header:hover{
  text-decoration: none;
}

header h1 {
  font-family: 'Pacifico', cursive;
  text-decoration: none;
}

header > div {
  margin: 0 1vw;
}

.header-button {
  color: #000000;
  font-size: 1.2rem;
  padding: 0.3em 0.6em;
  margin: 0.3em;
  border-radius: 7px;
  text-decoration: none;
  border: solid #A7C5EB 0.2em;
}

.header-button:hover {
  transition: ease 0.3s;
  background-color: #A7C5EB;
}

#login-button {
  border: solid #A7C5EB 0.2em;
}

#login-button:hover {
  background-color: #3b7dd3;
  border: solid #3b7dd3 0.2em;
  color: white;
}

#register-button {
  background-color: #A7C5EB;
  color: #000000;
}

#register-button:hover {
  background-color: #3b7dd3;
  border: solid #3b7dd3 0.2em;
  color: white;
}

/* Footer configuration */

footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  font-size: 1rem;
  padding: 5vh 0;
  display: flex;
  justify-content: space-between;
}

footer > div {
  margin: 0 2.5vw;
}

footer a {
  display: inline;
  text-decoration: none;
  color: #000000;
}

footer a:hover {
  text-decoration: underline;
}

footer :nth-child(2) b {
  padding: 0 1.5vw;
}
